{% extends "network/layout.html" %}
{% load static %}

{% block script %}
<script src="{% static 'network/js/index.js' %}"></script>
<script>const currentUsername = "{{ request.user.username }}";</script>
{% endblock %}

{% block body %}
<div class="index-container">
<form class="new-post container p-4 rounded shadow bg-white mb-4" method="post">
    {% csrf_token %}
    <h4 class="mb-3 fw-semibold text-primary">Create a Post</h4>

    <div class="mb-3">
        <textarea name="new-post-content" class="new-post-content form-control p-3" placeholder="What's on your mind?" rows="2" required></textarea>
    </div>

    <div class="text-end">
        <button class="new-post-submit btn btn-primary px-4 py-2" type="submit" disabled>
            ⌲ Post
        </button>
    </div>
</form>


<div class="posts container-fluid mb-3">
    <h3 class="mb-2">All Posts</h3>
</div>

</div>
{% endblock %}

