{% extends "network/layout.html" %}
{% load static %}

{% block script %}
<script src="{% static 'network/index.js' %}"></script>
{% endblock %}

{% block body %}
<div>
<form class="new-post container-fluid" method="post">
    {% csrf_token %}
    <h2 class="mt-0">New Post</h2>
    <textarea name="new-post-content" class="new-post-content mx-4 px-2" id="" placeholder="Share Your thoughts here..."></textarea>
    <button class="new-post-submit btn btn-primary" type="submit" disabled>Post</button>
</form>


</div>
{% endblock %}

