{% extends "network/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'network/js/profile.js' %}"></script>
    <script>
        const profile_name = "{{ profileuser.username }}";
    </script>
{% endblock %}

{% block body %}
<div class="container">
    
    <div class="d-flex align-items-center m-1">
        <a href="{% url 'index' %}" class="me-2">
            <img class="pl-2 mr-3" style="width: 35px;" src="{% static 'network/assets/icons/back.png' %}" alt="Back">
        </a>
        <div class="d-flex flex-column">
            <div class="fw-bold"><b>{{ profileuser.first_name }}</b></div>
            <div class="text-muted" style="font-size: 0.9rem;">{{ profileuser.posts.count }} Posts</div>
        </div>
    </div>
    <hr>

    <div class="d-flex flex-row mb-2 w-100 h-50">
       <img src="{% static 'network/assets/user.jpeg' %}" class="rounded-circle w-25 p-4 mr-5 float-start " alt="...">
       
       <div class="d-flex flex-column ml-5 mt-3 pl-2 w-100">
            <h3 class="mb-0"><b>{{ profileuser.first_name }} {{ profileuser.last_name }}</b></h3>
            <div class="mb-2">@{{ profileuser.username }}</div>
            <div class="mb-4">
                {% if request.user.is_authenticated and request.user != profileuser %}
                    {% if profileuser in request.user.following.all %}
                        <button class="btn btn-outline-primary" id="follow-btn" data-action="unfollow">Following</button>
                    {% else %}
                        <button class="btn btn-primary" id="follow-btn" data-action="follow">Follow</button>
                    {% endif %}
                {% endif %}
            </div>
            <div class="d-flex flex-row mb-4">
                <div class="pr-3 mr-3"><b id="follower-count">{{ profileuser.followers_count }}</b> Followers </div>
                <div class="pr-3 mr-3"><b>{{ profileuser.following_count }}</b> Following </div>
            </div>
            <div class="mb-2 flex-grow-1">
                {{ profileuser.bio|default:"No bio" }}
            </div>
       </div>
       {% if request.user == profileuser %}
        <div class="d-grid gap-2 justify-content-md-end">
                <button class="btn btn-outline-secondary" type="button">Edit</button>
        </div>
       {% endif %}
    </div>   
    <hr>
    
    <div class="container-fluid mb-3">
        <div class="header"><h3>{{ profileuser.first_name }}'s Posts</h3></div>
        <div class="posts"></div>
    </div>
</div>
{% endblock %}