{% extends "network/layout.html" %}
{% load static %}

{% block script %}
<script src="{% static 'network/js/profile.js' %}"></script>
<script>const currentUsername = "{{ request.user.username }}";
    const profile_name = "{{user.username}}";
</script>
{% endblock %}

{% block body %}
<div class="container">
    
    <div class="d-flex align-items-center m-1">
        <a href="{% url 'index' %}" class="me-2">
            <img class="pl-2 mr-3" style="width: 35px;" src="{% static 'network/assets/icons/back.png' %}" alt="Back">
        </a>
        <div class="d-flex flex-column">
            <div class="fw-bold"><b>{{user.first_name}}</b></div>
            <div class="text-muted" style="font-size: 0.9rem;">{{user.posts.count}} Posts</div>
        </div>
    </div>
    <hr>

    <div class="d-flex flex-row mb-2 w-100 h-50">
       <img src="{% static 'network/assets/user.jpeg' %}" class="rounded-circle w-25 p-4 mr-5 float-start " alt="...">
       
       <div class="d-flex flex-column ml-5 mt-3 pl-2 w-100">
            <h3 class="mb-0"><b>{{user.first_name}} {{user.last_name}}</b></h3>
            <div class="mb-2">@{{user.username}}</div>
            <div class="follow-btn mb-4">
                {% if request.user != user %}
                    {% if request.user not in user.following.all %} 
                <button class="btn btn-primary" id="follow" type="button">Follow</button>
                    {% else %}
                <button class="btn btn-outline-primary" id="unfollow" type="button">Following</button>
                    {% endif %}
                {% endif %}
            </div>
            <div class="d-flex flex-row mb-4">
                <div class="pr-3 mr-3"><b>{{user.followers_count}}</b> Followers </div>
                <div class="pr-3 mr-3"><b>{{user.following.count}}</b> Following </div>
            </div>
            <div class="mb-2 flex-grow-1">
                {{user.bio|default:"No bio" }}
            </div>
        </div>
        {% if request.user == user %}
         <div class="d-grid gap-2 justify-content-md-end">
                <button class="btn btn-outline-secondary" type="button">Edit</button>
        </div>
        {% endif %}
    </div>   
    <hr>
    <h3>{{user.first_name}}'s Posts</h3>
    <div class="posts">

    </div>

</div>
{% endblock %}





<!-- 

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
</form>

<img src="{{ user.profile_picture.url }}" alt="Profile Picture"> -->